<p id="notice"><%= notice %></p>

<h1>Listing Group Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Published</th>
      <th>Start</th>
      <th>End</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_events.each do |group_event| %>
      <tr>
        <td><%= group_event.name %></td>
        <td><%= group_event.description %></td>
        <td><%= group_event.published %></td>
        <td><%= group_event.start %></td>
        <td><%= group_event.end %></td>
        <td><%= group_event.deleted %></td>
        <td><%= link_to 'Show', group_event %></td>
        <td><%= link_to 'Edit', edit_group_event_path(group_event) %></td>
        <td><%= link_to 'Destroy', group_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group event', new_group_event_path %>
