<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_event.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @group_event.published %>
</p>

<p>
  <strong>Start:</strong>
  <%= @group_event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @group_event.end %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @group_event.deleted %>
</p>

<%= link_to 'Edit', edit_group_event_path(@group_event) %> |
<%= link_to 'Back', group_events_path %>
